[SETUP]
mqtt_broker = mqtthost
max_connection_attempts = 3
# Uncomment one of the logging_level lines
# All messages at the uncommented level and higher will be displayed
# i.e. DEBUG gives the most output and CRITICAL gives the least
### DEBUG
#logging_level =   10
### INFO
logging_level =  20
### WARNING
#logging_level =  30
### ERROR
#logging_level =  40
### CRITICAL
#logging_level =  50

# JKBMS
[Power Wall 1]
model =   JK-B2A24S
mac =     3c:a5:09:0a:85:79
command = command
tag =     Power_Wall_1
format =  influx2
